img{
	height: 400px;
	width: auto;
}
body{
  background: url("games.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@keyframes swageffect{
	0% {color:#ff00e5;}
	25% {color:#0000ff;}
	50% {color:#faff00;}
	75% {color:#00ff04;}
	100% {color:#ff0000;}
}
@-webkit-keyframes swageffect{
	0% {color:#ff00e5;}
	25% {color:#0000ff;}
	50% {color:#faff00;}
	75% {color:#00ff04;}
	100% {color:#ff0000;}
}
h1{
	-webkit-animation-name: swageffect; /*Safari 4.0 - 8.0*/
	-webkit-animation-duration: 2s;
	animation-name; swageffect;
	font-size: 70px;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	font-size: 70px;
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}
li{
	font-size: 50px;
	color: white;
	font-family: 'Ubuntu Mono', monospace
}
tbody{
	font-size: 20px;
	color: white;
	font-family: 'Ubuntu Mono', monospace;
}
p{
	font-size: 20px;
	color: white;
	font-family: 'Ubuntu Mono', monospace;
	text-align: center;
}
a{
	font-size: 30px;
	color: pink;
	font-family: 'Ubuntu Mono', monospace;

}
table,th,td{
	border: 1px solid white;
	text-align: center;

}
tr:hover{
	background-color: blue;
}
#hello{
	font-size: 30px;
	color: #ff2d2d;
	outline: black dotted thin;
}
#no{
	font-size: 50px;
	color: red;
}
table{
	width: 100%;
	height: auto;
}
